/* ****************************** */
/* BELOW 544PX (Phones) */
/* ****************************** */

@media (max-width: 34em) {
  html {
    font-size: 14px;
  }

  .container {
    padding: 0 2rem;
  }
  .stats-card {
    /* grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-direction: column-reverse;
  }

  .stats-card-img-box {
    display: 100%;
  }

  .stats-card-textbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2.2rem 2rem;
  }

  .stats-card-textbox p {
    margin: 0 2.4rem 2rem;
  }

  .stats {
    display: flex;
    flex-direction: column;
  }

  .stat-num-text {
    margin: 0.8rem 0;
  }

  .stats-card-img-box {
    background-image: linear-gradient(
        hsla(277, 70%, 48%, 0.5),
        hsla(277, 70%, 48%, 0.5)
      ),
      url(./images/image-header-mobile.jpg);
    background-size: cover;
    background-position: center;
    padding: 8.4rem 0;
  }
} ;
